.Chat {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items at the top */
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Adjust height to fill the screen */
    box-sizing: border-box;
}

.Chat-container {
    width: 60%; /* Adjust width as needed */
    padding: 10px;
    overflow-y: auto; /* Enable scrolling if needed */
    max-width: 1000px; /* Example maximum width */
    box-sizing: border-box;
}

.Chat-message {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    color: #000000;
    list-style: none;
    font-size: 22px;
}

.Chat-message.dark {
    color:#EAE9FF;
}

.Chat-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #EAE9FF;
    z-index: 2;
}

.Chat-input.dark {
    background-color:#333;
}

.input-container66 {
    display: flex;
    width: 60%;
    margin-bottom: 10px;
    align-items: center;
}

.input-field {
    flex: 1;
    margin-right: 10px;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    color: black;
    background-color: white;
    z-index: 3;
}

.input-field.dark {
    background-color:#212121;
    color:#EAE9FF;
}


.message-sender-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    object-fit:cover;
}

.voice-input-button {
    background-color: #2c62d6;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-left: 10px;
}

.voice-input-button:hover {
    background-color: #0045db;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.voice-input-button.recording {
    background-color: red;
}