.register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 190px;
    margin-bottom: 190px;
}

.register-input {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
}

.register-button {
    width: 100%;
    appearance: none;
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 7px 10px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.register-button:hover {
    background-color: #84909c;
}

.register-text {
    font-size: 20px;
    font-weight: 600;
}

.register-container2 {
    margin-bottom: 20px;
}

p.register-text span {
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

p.register-text span:hover {
    text-decoration: none;
}