.login-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 190px;
    margin-bottom: 190px;
}

.input-container {
    margin-bottom: 20px;
}

.login {
    font-size: 48px;
    margin-bottom: 2rem;
}

.login-input {
    width: 40%;
    margin-bottom: 10px;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 15px;
    font-size: 32px;
    color:black;
}

.login-button {
    width: 100%;
    appearance: none;
    border: 2px solid #000;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 7px 10px;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.login-button:hover {
    background-color: #84909c;
}

p.login-text span {
    color: #007bff;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

p.login-text span:hover {
    text-decoration: none;
}

.login-text {
    font-size: 20px;
    font-weight: 600;
}